/* quick access */
:root {
  --text: #5c5c5c;
}

.question {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 25px;
  display: block;
}

.question .caret {
  color: var(--text);
  position: absolute;
  margin-top: -37.5px;
}

.answer {
  padding-left: 20px;
  margin: -10px 0 30px; /* top, right and left, bottom */
  animation: answerFadeIn 0.4s ease;
  will-change: transform; /* hint to the browser that it's going to animate the selected element */
}

/* search menu width increase */
@keyframes answerFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.last-answer {
  padding-left: 20px;
  margin: 0;
}

@media
(min-width: 481px) and (max-width: 767px), /* (low-res) tablets and smartphones (landscape) */
(min-width: 320px) and (max-width: 480px) /* majority of smartphones (portrait) */ {
}

@media
(min-width: 768px) and (max-width: 1024px), /* tablets, ipads (portrait) */
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) /* Tablets, Ipads (landscape) */ {
}