/* variables */
:root {
  --text: #5c5c5c;
}

.question {
  border: none;
  background-color: transparent;
  padding: 0;
  display: block;
}

.answer {
  padding-left: 20px;
}

.question .caret {
  color: var(--text);
  position: absolute;
  margin-top: -22.5px;
}

@media
(min-width: 481px) and (max-width: 767px), /* (low-res) tablets and smartphones (landscape) */
(min-width: 320px) and (max-width: 480px) /* majority of smartphones (portrait) */ {
  /* empty for now */
}

@media
(min-width: 768px) and (max-width: 1024px), /* tablets, ipads (portrait) */
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) /* Tablets, Ipads (landscape) */ {
  /* empty for now */
}