/* RULES OF THUMB

1) Organize your components using the BEM model
2) Avoid using !important at all costs
3) Atomic design

*/


/* quick access */
:root {
  --background: #fff;
  --divider: #dbdbdb;
  --text: #5c5c5c;
  --gray: #8b8b8b;
}

#cookie-settings {
  cursor: pointer;
}


@media
(min-width: 481px) and (max-width: 767px), /* (low-res) tablets and smartphones (landscape) */
(min-width: 320px) and (max-width: 480px) /* majority of smartphones (portrait) */ {
}


@media
(min-width: 768px) and (max-width: 1024px), /* tablets, ipads (portrait) */
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) /* Tablets, Ipads (landscape) */ {
}