/* RULES OF THUMB

1) Always use SASS (or any CSS preprocessor)
2) Write your HTML before your CSS
3) Organize your components using the BEM model
4) Don’t reference IDs in the CSS
6) Avoid using !important at all costs
7) Use bootstrap only when needed, (make sure you understand it before using it)
8) Keep your HTML simple and readable
9) Individual page css
10) Atomic design

*/


/* color palette */
:root {
	--white: #fff;
	--washed-white: #dbdbdb;
	--border-radius: 7px;
}

/* definition text */
#definition-links {
	position: absolute;
	text-decoration: none;
	font-size: 11px;
	margin-left: -0.5px;
	z-index: 0;
}

#definition-title {
	margin-top: 0;
}

#definition-description {
	margin-top: -10px;
	font-size: 14px;
}

/* definition divider */
#definition-content-divider {
	margin-top: -5px;
	border-color: var(--washed-white);
}

/* definition dropdown */
.definition-dropdown {
	position: absolute;
	display: none;
	background-color: var(--white);
	box-shadow: 0 4px 21px var(--washed-white);
	width: 225px;
	padding: 16px;
	border-radius: var(--border-radius);
	margin-top: 3.5px;
}

#definition-links:hover + .definition-dropdown {
	display: block;
}