/* variables */
:root {
  --background: #fff;
  --divider: #dbdbdb;
  --text: #5c5c5c;
  --gray: #8b8b8b;
}

footer {
  background-color: var(--background);
}

.footer-menu-container {
  display: flex;
}

.footer-menu-category {
  padding: 15px 50px 25px; /* top, left and right, bottom */
}

.footer-menu-category ul li {
  color: var(--text);
}

#menu-category-title {
  color: var(--gray);
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 14px;
}

footer ul.quick-links li {
  padding: 2.5px 0;
}

footer ul.quick-links li a {
  color: var(--gray);
  text-decoration: none;
  font-size: 16px;
}

footer ul.quick-links li a:hover {
  color: var(--text);
}

#socials a {
  padding-right: 10px;
}

#footer-icon {
  width: 317.5px;
  height: 153.5px;
  margin-top: 13.5px;
  margin-left: 0.5px;
}

@media
(min-width: 481px) and (max-width: 767px), /* (low-res) tablets and smartphones (landscape) */
(min-width: 320px) and (max-width: 480px) /* majority of smartphones (portrait) */ {
  /* empty for now */
}

@media
(min-width: 768px) and (max-width: 1024px), /* tablets, ipads (portrait) */
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) /* Tablets, Ipads (landscape) */ {
  /* empty for now */
}