/* RULES OF THUMB

1) Always use SASS (or any CSS preprocessor)
2) Write your HTML before your CSS
3) Organize your components using the BEM model
4) Don’t reference IDs in the CSS
6) Avoid using !important at all costs
7) Use bootstrap only when needed, (make sure you understand it before using it)
8) Keep your HTML simple and readable
9) Individual page css
10) Atomic design

*/


/* color palette */
:root {
	--white: #fff;
	--washed-white: #dbdbdb;
	--dark-gray: #5c5c5c;
	--gray: #8b8b8b;
}

/* footer */
footer {
	flex-direction: column;
	background-color: var(--white);
	margin-top: 50px;
}

footer h2 {
	color: var(--gray);
	font-weight: 600;
	letter-spacing: 1px;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	margin: 0;
	margin-bottom: 14px;
}

footer ul.quick-links li {
	padding: 4px 0;
}

footer ul.quick-links li a {
	color: var(--gray);
	text-decoration: none;
	font-size: 16px;
}

footer ul.quick-links li a:hover {
	color: #555;
}


/* footer menu */
.footer-menu-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 4rem 3rem;
}

.menu-container {
	display: flex;
	width: 80%;
}

.menu-container .col-xs-12 {
	padding: 0;
}

.menu-container .col-xs-12 .list-unstyled {
	margin: 0;
}


/* footer menu/description divider */
#desc-divider {
	width: 100%;
	height: 0.75px;
	margin-top: -5px;
	border: 0;
	background-color: var(--washed-white);
}

/* footer description */
.footer-desc-wrapper {
	width: 100%;
	height: 75px;
	background-color: var(--white);
	position: relative;
	display: flex;
}

.desc-container {
	position: relative;
	width: 75%;
}


/* footer left description */
.footer-left-desc {
	position: absolute;
	left: 15.4%;
}

.footer-left-desc p {
	color: var(--gray);
	font-size: 1.25rem;
}

.footer-left-desc a {
	text-decoration: none;
	color: var(--gray);
}

.footer-left-desc a:hover {
	color: var(--dark-gray);
}


/* footer right description */
.footer-right-desc {
	position: absolute;
	right: 0;
	margin-right: 109px;
	font-size: 1.25rem;
}

.footer-right-desc ul li {
	list-style: none;
	float: left;
}

.footer-right-desc a {
	text-decoration: none;
	color: var(--gray);
}

.footer-left-desc,
.footer-right-desc {
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#privacy:hover,
#terms:hover {
	color: var(--dark-gray);
	cursor: pointer;
	text-decoration: none;
}