/* RULES OF THUMB

1) Always use SASS (or any CSS preprocessor)
2) Write your HTML before your CSS
3) Organize your components using the BEM model
4) Don’t reference IDs in the CSS
6) Avoid using !important at all costs
7) Use bootstrap only when needed, (make sure you understand it before using it)
8) Keep your HTML simple and readable
9) Individual page css
10) Atomic design

*/



/* color palette */
:root {
	--white: #fff;
	--washed-white: #dbdbdb;
	--dark-gray: #5c5c5c;
	--light-gray: #858585;
	--background: #eee;
	--border-radius: 7px;
	--links: #337ff0;
}


* {
	box-sizing: border-box;
  	/* Firefox scrollbar */
	scrollbar-color: auto;
	scrollbar-width: thin;
}

body {
	background-color: var(--background);
}


/* text */
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
	color: var(--dark-gray);
	font-family: Arial, Helvetica, sans-serif;
}


/* anchor tags */
#links,
#links:hover {
	color: var(--links);
}

#links:active,
#links:focus {
	text-decoration: none;
}

#links:visited {
	color: #145dca;
}



/* Phones and handhelds */

/* Google Pixel XL (and up) and Galaxy S6 (and up) */

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: portrait) {



}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape) {



}



/* iPhone 6, 6S, 7 and 8 */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {



}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {



}



/* iPhone 6+, 7+ and 8+ */

/* Portrait */
@media only screen 
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {



}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {



}



/* iPhone X (and up) */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {



}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {



}



/* Tablets */

/* Galaxy Tab S */

/* Portrait */
@media
  (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {



}

/* Landscape */
@media
  (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {



}



/* iPad Pro 10.5" */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 834px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {



}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 1112px)
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {



}

/* iPad Pro 12.9" */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {



}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 1366px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {



}



/* Laptops */

/* Non-Retina Screens */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {



}

/* Retina Screens */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {



}



/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
	background: #aaaaaa;
}

::-webkit-scrollbar-thumb:active {
	background: var(--light-gray);
}

/* scrollbar background */
::-webkit-scrollbar-track {
	background: var(--background);
}

/* content boxes */
.page-border {
	margin-left: 50px;
	margin-right: 389px;
	margin-top: 109px;
	border-radius: var(--border-radius);
	border: 1.5px solid var(--white);
	background-color: var(--white);
}

.content-border {
	padding: 55px;
	margin-top: -25px;
	margin-bottom: -10px;
}


/* last updated text */
#last-updated {
	text-decoration: underline;
}


/* title sticky navbar */
.title-nav {
	position: sticky;
	top: 65px;
	background-color: var(--white);
	box-shadow: 0 8px 6px -8px var(--washed-white);
}

.title-nav hr {
	height: 0.75px;
	margin-top: 25px;
	border-width: 0;
	background-color: #cfcfcf;
	margin-top: 25px;
}