::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(#eee);
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

::-webkit-scrollbar-thumb:active {
  background: var(--light-gray);
}

/* quick access */
:root {
  --background: #fff;
  --divider: #dbdbdb;
  --text: #5c5c5c;
  --light-gray: #858585;
  --body-background: #eee;
  --links: #337ff0;

  --border-radius: 7px;

  scrollbar-width: thin;

  box-sizing: border-box;
}

body {
  background-color: var(--body-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

#links {
  color: var(--links);
  text-decoration: none;
}

#links:hover,
#links:active,
#links:focus {
  color: #3277df;
}

#links:visited {
  color: #145dca;
}

.page-border {
  margin: 115px 50px 50px; /* top, right and left, bottom */
  background-color: var(--background);
  border-radius: var(--border-radius);
  border: none;
}

.content-border {
  padding: 40px;
}

#last-updated {
  text-decoration: underline;
}

.title-nav {
  position: sticky;
  top: 65px;
  background-color: var(--background);
  box-shadow: 0 8px 6px -8px var(--divider);
}

.title-nav hr {
  height: 0.75px;
  margin-top: 25px;
  border: 0;
  background-color: var(--divider);
}

@media
(min-width: 481px) and (max-width: 767px), /* (low-res) tablets and smartphones (landscape) */
(min-width: 320px) and (max-width: 480px) /* majority of smartphones (portrait) */ {
  /* empty for now */
}

@media
(min-width: 768px) and (max-width: 1024px), /* tablets, ipads (portrait) */
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) /* Tablets, Ipads (landscape) */ {
  /* empty for now */
}