/* quick access */
:root {
  --background: #fff;
  --black: #000;
  --text: #5c5c5c;
  --links: #337ff0;
  
  --border-radius: 7px;
}

.container-fluid {
  padding: 0;
}

.navbar {
  background-color: var(--background);
  height: 65px;
}

#nav-icon {
  width: 36px;
  height: 36px;
  margin: 14.5px 0 0 50px; /* top, right, bottom, left */
}

.form-control {
  width: 123px;
  height: 30px;
  margin: -33px 0 0 120px; /* top, right, bottom, left */
  color: var(--text);
  border-radius: var(--border-radius);
  border: 1px #858585;
  box-shadow: 0 0 2.5px #cfcfcf;
  transition: 0.2s width;
}

.form-control:focus,
.form-control:active {
  width: 246px;
  box-shadow: 0 0 2px var(--links);
}

#dropdown-toggle {
  margin: 23.75px 65px 0 0; /* top, right, bottom, left */
  padding: 0;
  background-color: transparent;
}

.dropdown-toggle-icons {
  color: var(--black);
  transition: 0.3s opacity;
  cursor: pointer;
}

.dropdown-toggle-icons:hover {
  opacity: 0.6;
}

#dropdown-menu-bg {
  border-radius: 7px;
  margin-top: 10px;
}

.dropdown-menu {
  border-radius: 7px;
  margin-top: 10px;
  margin-right: 60px;
  box-shadow: 1px 1px 18px rgba(17, 8, 8, 0.1);
  animation: dropdownFadeIn 0.2s ease-in-out;
}

/* dropdown menu fade-in */
@keyframes dropdownFadeIn {
  from {
    margin-top: -15px;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#menu-text-bg {
  color: var(--text);
}

#menu-text-bg:hover {
  background-color: #f5f5f5;
}

#menu-text-bg:focus {
  background-color: #e0e0e0;
}

.dropdown-menu .divider {
  height: 0.75px;
}

@media
(min-width: 481px) and (max-width: 767px), /* (low-res) tablets and smartphones (landscape) */
(min-width: 320px) and (max-width: 480px) /* majority of smartphones (portrait) */ {
  #nav-icon {
    margin-left: 66px;
  }
  .form-control {
    margin-left: 138px;
    width: 98px;
  }
  .form-control:focus,
  .form-control:active {
    width: 148px;
  }
  #dropdown-toggle {
    float: right;
    padding: 0;
    margin-top: -31px;
  }
}

@media
(min-width: 768px) and (max-width: 1024px), /* tablets, ipads (portrait) */
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) /* Tablets, Ipads (landscape) */ {
  /* empty for now */
}