/* quick access */
:root {
  --divider: #dbdbdb;
  --text: #5c5c5c;
  
  --border-radius: 7px;
}

#toc {
  list-style-type: none;
}

#toc-toggle {
  margin-left: 2.5px;
  cursor: pointer;
}

#toc-icon {
  height: 32px;
  padding: 7.5px;
  border-radius: var(--border-radius);
}

#toc-icon:hover,
#toc-icon:focus,
#toc-text:focus {
  background-color: #ececec;
}

#toc-menu {
  padding: 5px;
  height: auto;
  width: auto;
  border-radius: 7px;
  margin-top: -15px;
  margin-left: 3px;
}

#toc-menu li {
  border-radius: var(--border-radius);
}

#toc-text {
  padding: 4px 20px; /* top and bottom, left and right */
  color: var(--text);
  border-radius: var(--border-radius);
}

#toc-text:focus,
#toc-text:active {
  background-color: var(--divider);
}

#toc-text-child {
  text-indent: 18px;
  color: var(--text);
  border-radius: var(--border-radius);
}

#toc-text-child:focus,
#toc-text-child:active {
  background-color: #ececec;
}

#toc-title {
  margin-top: -34px;
  margin-left: 44px;
}

@media
(min-width: 481px) and (max-width: 767px), /* (low-res) tablets and smartphones (landscape) */
(min-width: 320px) and (max-width: 480px) /* majority of smartphones (portrait) */ {
  /* empty for now */
}

@media
(min-width: 768px) and (max-width: 1024px), /* tablets, ipads (portrait) */
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) /* Tablets, Ipads (landscape) */ {
  /* empty for now */
}