# SPDX-License-Identifier: MIT-only
#
# NOTE: Don't add files that are generated in specific subdirectories here.
# Add them in the ".gitignore" file in that subdirectory instead.
#
# NOTE: Please use 'git ls-files -i --exclude-standard' command after changing this file,
# to see if there are any tracked files which get ignored after the change.
#
# NOTE: Please sort alphabetically.


# git
\#*\#
.\#*

# Packaging
package-lock.json
yarn.lock
yarn-error.log

# VS Code
**/.vs
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json

# Windows
~$*
[Ss]tyle[Cc]op.*

# Windows cache
*.[Cc]ache

# Windows recycle bin used on file shares
$RECYCLE.BIN/

# Windows thumbnail cache
Thumbs.db
