# SPDX-License-Identifier: MIT
#
# File settings:
#   text     These files should be normalized (i.e. convert CRLF to LF).
#   binary   These files are binary and should be left untouched.
#
# Note:
#  - binary is a macro for -text -diff.
#  - When reading this list, please look for the most precise areas first.
#  - When adding to this list, please keep the entries in alphabetical order.
#
# Auto detection:
#   Handle line endings automatically for files detected as text
#   and leave all files detected as binary untouched.
#   This will handle all files NOT defined below.

*                  text=auto

# Archives
*.zip              binary

# Audio
*.mp3              binary

# Code
*.html             text diff=html
*.css              text diff=css
*.scss             text diff=css
*.js               text diff=js
*.json             text
*.ts               text diff=ts

# Configurations
.git*              text
tsconfig.json      text -diff
package.json       text eol=lf
package-lock.json  text -diff
*.lock             text -diff
.htaccess          text

# Documentation
*.md               text diff=markdown
*.txt              text

# Graphics
*.ico              binary
*.jpg              binary
*.png              binary
*.svg              binary

# Video
*.mp4              binary
*.gif              binary
