body {
  background-color: #ececec;
}

h1, h2, h3, h4, h5, h6, p, li, .caret {
  color: #5c5c5c;
  font-family: Arial, Helvetica, sans-serif;
}


/* navbar icon */
#nav-icon {
  width: 36px;
  height: 36px;
  margin-left: 75.5px;
  margin-top: -40px;
}

#footer-icon {
  width: 28px;
  height: 28px;
  margin-top: 0px;
}

/* menubar */
#menubar {
  filter: invert(37%) sepia(0%) saturate(0%) hue-rotate(212deg) brightness(88%) contrast(80%);
}

.menubar:active {
  cursor: default;
}


/* nav links */
#nav-menu-text {
  color: #5c5c5c;
}


/* footer */
footer {
  margin-left: -1.746cm;
  text-align: center;
  bottom: 0;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 100%;
  background-color: transparent;
}

/* separator */
footer hr {
  margin-left: 6.325cm;
  text-align: center;
  width: 77.5%;
  height: 0.5px;
  border-width: 0;
  background-color: #cfcfcf;
}

/* text */
#footer-copyright {
  color: #5c5c5c;
  margin-left: 87.25px;
  font-size: 13px;
}

#footer-copyright:hover {
  text-decoration: none;
}

#footer-links {
  color: #337ff0;
  margin-left: 50px;
  font-size: 13px;
}


/* box in which page content is displayed */
.page-border {
  margin-left: 50px;
  margin-right: 389px;
  margin-top: 109px;
  border-radius: 7px;
  border: 1.5px solid #ffffff;
  background-color: #ffffff;
}

.content-border {
  margin: 55px;
}


/* box in which ad content is displayed */
.ads-page-border {
  float: right;
  width: 289px;
  margin-right: 50px;
  border-radius: 7px;
  border: 1.5px solid #ffffff;
  background-color: #ffffff;
}

.ads-content-border {
  margin: 7.5px;
}

/* image */
.ad-image {
  border-radius: 7px;
  width: 266.25px;
  height: 266.25px;
  margin-left: 2.5px;
  box-shadow: 0 0 5px #696969;
  border-radius: 7px;
}

/* text */
.sponsored-text {
  margin-top: 11px;
  margin-left: 8.5px;
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: #00a9d3;
}

.ad-text {
  margin-top: -6.5px;
  margin-left: 8.5px;
  margin-right: 10.5px;
  font-size: 12px;
}


/* navbar links */
.tool, #tool {
  margin-top: 0px;
  margin-left: 96.5px;
  list-style: none;
  display: inline-block;
  font-weight: 550;
  font-size: 9px;
}

.tool a, #tool a  {
  color: #808080;
}

.tool a:hover, .tool a:focus, .tool a:active,
#tool a:hover, #tool a:focus, #tool a:active {
  color: #a8a8a8;
  text-decoration: none;
}

.navbar {
  background-color: #ffffff;
  height: 65px;
}


/* dropdown menu */
.dropdown-menu {
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 1px 1px 18px rgba(17, 8, 8, 0.1);
}

.dropdown-menu li:hover, #nav-menu-text:hover {
  background-color: #ececec;
}

/* icons */
#options-menu {
  margin-top: 23px;
  margin-right: 33px;
  background-color: #ffffff;
  padding: 0px;
}


/* search bar */
.search input {
  height: 30px;
  text-indent: 25px;
  border: 1.5px solid #b5b5b5;
  margin-top: -45px;
  margin-left: 61px;
  padding-left: 0px;
  border-radius: 7px;
  width: 123px;
}

/* background */
.search {
  width: 0; height: 0;
}

/* when clicked */
.search input:focus, .search input:active {
  border: 1px solid #337ff0;
  box-shadow: none;
}


/* anchor tags */
#links, #links:hover {
  color: #337ff0;
}

#links:active {
  text-decoration: none;
}