/* variables */
:root {
  --primary-white:   #fff;
  --primary-black:   #5c5c5c;
  --primary-gray:    #858585;
  --body-background: #eee;
  --border-radius:     7px;
}

/* every element */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background);
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  color: var(--primary-black);
  font-family: Arial, Helvetica, sans-serif;
}

/* anchor tags */
#links,
#links:hover {
  color: #337ff0;
}

#links:active,
#links:focus {
  text-decoration: none;
}

#links:visited {
  color: #0b3068;
}


/* Andro icons */
#nav-icon {
  width: 36px;
  height: 36px;
  margin-left: 17.5px;
  margin-top: 14.5px;
}


/* search bar */
.search input {
  height: 30px;
  text-indent: 25px;
  border: 1.5px solid #b5b5b5;
  margin-top: -33px;
  margin-left: 61px;
  padding-left: 0;
  border-radius: 7px;
  width: 123px;
}

/* searchbar background */
.search {
  width: 0;
  height: 0;
}

.search input:focus,
.search input:active {
  border: 1px solid #337ff0;
  box-shadow: none;
}


/* navbar */
.navbar {
  background-color: var(--primary-white);
  height: 65px;
}


/* dropdown menu */
.dropdown-menu {
  margin-right: 30px;
  display: none;
  background-color: var(--primary-white);
  box-shadow: 1px 1px 18px rgba(17, 8, 8, 0.1);
  animation: dropdownFadeIn 0.25s ease-in-out;
}

.dropdown-menu li:hover,
#menu-text:hover {
  background-color: var(--body-background);
}

.dropdown-menu li:focus,
.active, .active:hover,
.active:focus {
  background-color: #e0e0e0;
}

/* dropdown menu fade animation */
@keyframes dropdownFadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* dropdown menu icons */
#dropdown-icons {
  margin-top: 23px;
  margin-right: 33px;
  background-color: #fff;
  padding: 0;
}

/* menu icons */
.menu-icons {
  color: black !important;
  transition: 0.25s filter;
}

.menu-icons:hover, .menu-icons:hover::after {
  filter: invert(55%) sepia(0%) saturate(765%) hue-rotate(222deg) brightness(96%) contrast(81%) !important;
}

/* dropdown menu links */
#menu-text:focus {
  background-color: #e5e5e5;
}

#menu-text {
  color: var(--primary-black);
}


/* content boxes */
.page-border {
  margin-left: 50px;
  margin-right: 389px;
  margin-top: 109px;
  border-radius: 7px;
  border: 1.5px solid var(--primary-white);
  background-color: var(--primary-white);
}

.content-border {
  padding: 55px;
  margin-top: -25px;
  margin-bottom: -10px;
}


/* table of contents and title sticky navbar */
.title-nav {
  position: sticky;
  top: 65px;
  background-color: var(--primary-white);
  box-shadow: 0 4px 8px -8px var(--primary-gray);
}

.title-nav hr {
  height: 1px;
  margin-top: 25px;
  border-width: 0;
  background-color: #cfcfcf;
  margin-top: 25px;
}

/* table of contents menu */
#tableofcontents-menu {
  padding: 6.5px;
  height: auto;
  max-height: 351px;
  min-width: 275px;
  max-width: 275px;
  overflow-y: scroll;
}

/* table of contents icon */
#tableofcontents-icon {
  height: 32px;
  padding: 7.5px;
  border-radius: 7px;
}

/* table of contents items */
#tableofcontents-text {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 7px;
  color: var(--primary-black);
}

/* table of contents sub-items */
#tableofcontents-text-child {
  text-indent: 18px;
}

#tableofcontents-text:focus {
  background-color: var(--primary-white);
}

#tableofcontents-icon:hover,
#tableofcontents-icon:focus,
#tableofcontents-text:hover,
#tableofcontents-text:active {
  background-color: #ececec;
}

#tableofcontents-icon:active {
  background-color: #dbdbdb;
}


/* last updated text */
#last-updated {
  text-decoration: underline;
}


/* footer */
footer {
  flex-direction: column;
  background-color: var(--primary-white);
  margin-top: 50px;
}

footer h2 {
  color: #8b8b8b;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Itim', cursive;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  margin-bottom: 14px;
}

footer ul.quick-links li {
	padding: 4px 0;
}

footer ul.quick-links li a {
	color: #8b8b8b;
  text-decoration: none;
  font-size: 16px;
}

footer ul.quick-links li a:hover {
	color: #555;
}


/* footer menu */
.footer-menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem 3rem;
}

.menu-container {
  display: flex;
  width: 80%;
}

.menu-container .col-xs-12 {
  padding: 0;
}

.menu-container .col-xs-12 .list-unstyled {
  margin: 0;
}


/* footer menu/description divider */
#desc-divider {
  width: 100%;
  height: 1px;
  margin-top: -5px;
  border: 0;
  background-color: #cfcfcf;
}

/* footer description */
.footer-desc-wrapper {
  width: 100%;
  height: 75px;
  background-color: var(--primary-white);
  position: relative;
  display: flex;
}

.desc-container {
  position: relative;
  width: 75%;
}


/* footer left description */
.footer-left-desc {
  position: absolute;
  left: 15.4%;
}

.footer-left-desc p {
  color: #8b8b8b;
  font-size: 1.25rem;
}

.footer-left-desc a {
  text-decoration: none;
  color: #8b8b8b;
}

.footer-left-desc a:hover {
  color: var(--primary-black);
}


/* footer right description */
.footer-right-desc {
  position: absolute;
  right: 0;
  margin-right: 109px;
  font-size: 1.25rem;
}

.footer-right-desc ul li {
  list-style: none;
  float: left;
}

.footer-right-desc a {
  text-decoration: none;
  color: #8b8b8b;
}

.footer-left-desc,
.footer-right-desc {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#privacy:hover,
#terms:hover {
  color: var(--primary-black);
  cursor: pointer;
  text-decoration: none;
}


/* definition text */
#definition-links {
  position: absolute;
  text-decoration: none;
  font-size: 11px;
  margin-left: -0.5px;
  z-index: 0;
}

#definition-title {
  margin-top: 0;
}

#definition-description {
  margin-top: -10px;
  font-size: 14px;
}

/* definition divider */
#definition-content-divider {
  margin-top: -5px;
  border-color: #dbdbdb;
}

/* definition dropdown */
.definition-dropdown {
  position: absolute;
  display: none;
  background-color: var(--primary-white);
  box-shadow: 0 4px 21px #dbdbdb;
  width: 225px;
  padding: 16px;
  border-radius: 7px;
  margin-top: 3.5px;
}

#definition-links:hover + .definition-dropdown {
  display: block;
}