h1, h2, h3, h4, h5, h6, p { /* Text font */
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.sidenav, .secondnav {
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow: hidden;
	padding-top: 20px;
	margin-top: -7.5px;
	margin-left: -3.5px;
}
  
.sidenav a {
	margin-left: 10px;
	filter: invert(72%) sepia(8%) saturate(586%) hue-rotate(148deg) brightness(94%) contrast(86%);
}

.sidenav a:hover {
	filter: invert(100%) sepia(13%) saturate(33%) hue-rotate(265deg) brightness(113%) contrast(96%);
}
